<?xml version="1.0"?>
<connectionStrings>
  <add name="dev" connectionString="" providerName="System.Data.SqlClient" />
  <add name="stg" connectionString="" providerName="System.Data.SqlClient" />
  <add name="tst" connectionString="" providerName="System.Data.SqlClient" />
  <add name="prd" connectionString="" providerName="System.Data.SqlClient" />
</connectionStrings>