<?xml version="1.0"?>
<!--Log4net Configuration Starts Here-->
<!--<log4net threshold="OFF">threshold="OFF" forces all the loggers to stop logging-->
<log4net threshold="ON">
  <!--Log for instrumentation-->
  <appender name="GlobalLogFileAppender" type="log4net.Appender.RollingFileAppender">
	<file value="Logs/GlobalLog.txt" />
	<appendToFile value="true" />
	<rollingStyle value="Date" />
	<datePattern value="yyyyMMdd" />
	<appendToFile value="true" />
	<param name="maxSizeRollBackups" value="10" />
	<!-- Threshold property used to control the log level-->
	<!-- In this case the appender logs the ERROR level only-->
	<param name="Threshold" value="ALL" />
	<layout type="log4net.Layout.PatternLayout">
	  <conversionPattern value="%date{MM/dd/yyyy}|%date{HH:mm:ss,fff}|%-5level|%u|%username|%c|%method|%message%newline" />
	</layout>
	<!-- Set the level range from Debug to Info-->
	<!--     Debug level is not recommended-->
	<filter type="log4net.Filter.LevelRangeFilter">
	  <levelMin value="debug" />
	  <levelMax value="FATAL" />
	</filter>
  </appender>
  <!--Logger Starts here-->
  <root>
	<!--<level value="debug" />
    <appender-ref ref="exceptionLog" />
    <appender-ref ref="instrumentLog" />-->
  </root>
  <logger name="GlobalLogger" additivity="false">
	<level value="ALL" />
	<appender-ref ref="GlobalLogFileAppender" />
  </logger>

  <!--<logger name="Base.Utils.Aspects.ProfilerAdvice" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="profilerLog" />
  </logger>-->

  <!--Logger ends here-->
</log4net>
<!--Log4net Configuration Ends Here-->

<!-- Log4net Patterns reference : Start-->
<!--
Reference URL: http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html
Quick references:
%date (or) %d - Current date with full timestamp
[%thread] - current active thread
%level (or) %p  - log level ie INFO/DEBUG/WARN/ERROR
[%u] - identity of the user (Note:Generating caller WindowsIdentity information is extremely slow.)
[%user] - identity of the user (Note:Generating caller WindowsIdentity information is extremely slow.)
[%username] - windows identity (Note:Generating caller WindowsIdentity information is extremely slow.)
%message (or) %m - log message provided
%newline (or) %n - new line
%c - classname
%method (or) %M - method name
%logger - logger name provided (ie the type provided in GetLogger() method)
%-<n><Pattern> - where n is any number and Pattern is any pattern mentioned above.
                 Right pad with spaces the pattern info is less than n characters long.
-->
<!-- Log4net Patterns reference : End-->